<header>
  <a routerLink=""><img id="icon" src="../../favicon.ico" alt="logo" height="50" width="50"/></a>

  <ng-content />

  <div id="authRoute" class="authRoute">
    <a (click)="user ? onLogoutClick() : null" *ngIf="user; else authLink">{{ authLinkText }}</a>

    <ng-template #authLink>
      <a routerLink="/auth/{{ authLinkText === 'Registrieren' ? 'signup' : 'signin' }}" routerLinkActive="hideText">{{ authLinkText }}</a>
    </ng-template>
  </div>

  <div class="relative">
    <a routerLink="/cart">
      <img src="../../assets/images/shpcrt.svg" alt="cart" />
      <span class="cart-badge" *ngIf="cartItemCount$ | async as count">
        {{ count }}
      </span>
    </a>
  </div>
</header>
