<header>
  <a routerLink=""><img src="../../favicon.ico" alt="logo" height="50" width="50"/></a>

  <ng-content />

  <div id="authRoute" class="authRoute">
    @if (location.isCurrentPathEqualTo('/auth/login')){
      <a routerLink="/auth/signup" routerLinkActive="hideText">Registrieren</a>
    } @else if(location.isCurrentPathEqualTo('auth/signup')){
      <a routerLink="/auth/login" routerLinkActive="hideText">Anmelden</a>
    } @else {
      <a routerLink="/auth/login" routerLinkActive="hideText">Anmelden</a>
    }
  </div>

<!--  @if (itemNamePreviews.length > 0){-->
<!--    <div class="name-previews">-->
<!--      <ul>-->
<!--        @for (name of itemNamePreviews; track name){-->
<!--          <li>{{ name }}</li>-->
<!--        }-->
<!--      </ul>-->
<!--    </div>-->
<!--  }-->
</header>
