<header>
  <a routerLink=""><img src="../../favicon.ico" alt="logo" height="50" width="50"/></a>
  <input
    id="searchField"
    class="searchField"
    type="text"
    role="searchbox"
    placeholder="Suchen..."
    value=""
    (keydown.enter)="search()"
    [(ngModel)]="searchQuery"
  />
  <div id="loginRouteBtn" class="loginRouteBtn">
    <a routerLink="/login" routerLinkActive="hideText">Anmelden</a>
  </div>

<!--  @if (itemNamePreviews.length > 0){-->
<!--    <div class="name-previews">-->
<!--      <ul>-->
<!--        @for (name of itemNamePreviews; track name){-->
<!--          <li>{{ name }}</li>-->
<!--        }-->
<!--      </ul>-->
<!--    </div>-->
<!--  }-->
</header>
