<main class="m-10">
  <div class="min-w-max">
    <h2 class="text-5xl font-extrabold">Checkout</h2>
    <hr class="largeHr" />
  </div>
  @if (cartItems.length > 0){
    <div class="checkoutGrid">
    @for (cartItem of cartItems; track cartItem.item.id){
      <div class="cartItem">
        <img [src]="cartItem.item.picture" [alt]="cartItem.item.name" class="cartItemImg" />
        <div class="cartItemContent">
          <h2 class="itemName">{{cartItem.item.name}}</h2>
          <div class="cartItemInfo">
            <p>Anzahl: {{ cartItem.quantity }}</p>
            <p>CHF {{Math.round(cartItem.item.price * cartItem.quantity).toFixed(2) }}</p>
          </div>
        </div>
      </div>
    }
    </div>
    <app-paymethod class="place-content-center" />
  } @else {
    <p>Ihr Warenkorb ist leer.</p>
  }
</main>
