<ol>
  @for (item of items; track item.id){
    <div class="parent">
      <li
        (mouseenter)="onMouseEnter($event, item)"
        (mouseleave)="onMouseLeave()">
        <h1>{{ item.name }}</h1>
        <p>{{ item.description }}</p>
        <img [src]="item.picture" alt="{{item.name}}" (click)="onClick(item.id)" />
      </li>
    </div>
  }

  @if (isTooltipVisible) {
    <app-tooltip
      [isHidden]="!isTooltipVisible"
      [tooltipText]="tooltipText"
      [xPos]="tooltipX"
      [yPos]="tooltipY"
      (mouseenter)="onTooltipEnter()"
      (mouseleave)="onTooltipLeave()">
    </app-tooltip>
  }
</ol>
