<app-sidebar (categorySelected)="onCategorySelected($event)"></app-sidebar>
<main class="m-10 flex justify-center">
  <ol class="item-list">
    @for (item of items; track item.id){
      <div class="parent">
        <li
          class="item"
          [routerLink]="['/item', item.id]"
          (mouseenter)="onMouseEnter($event, item)"
          (mouseleave)="onMouseLeave()">
          <img id="itemPic" [src]="item.picture" alt="{{item.name}}" width="576px" height="375px" />
          <p id="itemPrice" class="itemPrice">CHF {{ item.price }}</p>
          <p id="itemName" class="itemName">{{ item.name }}</p>
          <p id="itemCats"> {{ (item.category).toString().split(',').join(' / ') }}</p>
        </li>
      </div>
    }

<!--    @if (isTooltipVisible) {-->
<!--      <app-tooltip-->
<!--        [isHidden]="!isTooltipVisible"-->
<!--        [tooltipText]="tooltipText"-->
<!--        [xPos]="tooltipX"-->
<!--        [yPos]="tooltipY"-->
<!--        [item]="selectedItem"-->
<!--        (mouseenter)="onTooltipEnter()"-->
<!--        (mouseleave)="onTooltipLeave()">-->
<!--      </app-tooltip>-->
<!--    }-->
  </ol>
</main>
