<ol>
  @for (item of items; track item.id){
    <div class="parent">
      <li
        [routerLink]="['/items/item', item.id]"
        (mouseenter)="onMouseEnter($event, item)"
        (mouseleave)="onMouseLeave()">
        <img id="itemPic" [src]="item.picture" alt="{{item.name}}" width="480px" height="312.5px" />
        <p id="itemPrice">CHF {{ item.price }}</p>
        <p id="itemName">{{ item.name }}</p>
        <p id="itemCats"> {{ item.category }}</p>
      </li>
    </div>
  }

  @if (isTooltipVisible) {
    <app-tooltip
      [isHidden]="!isTooltipVisible"
      [tooltipText]="tooltipText"
      [xPos]="tooltipX"
      [yPos]="tooltipY"
      (mouseenter)="onTooltipEnter()"
      (mouseleave)="onTooltipLeave()">
    </app-tooltip>
  }
</ol>

<!--        [routerLink]="['/items/item', itemSignal()!.id]"-->
