<header>
  <a routerLink=""><img id="icon" src="../../../favicon.ico" alt="logo" height="50" width="50"/></a>

  @if (isAuthenticated){
    <ng-content />
  }

  <div id="authRoute" class="authRoute">
    @if (isAuthenticated){
      <a (click)="onLogoutClick()">{{ authLinkText }}</a>
    } @else {
      <a
        [routerLink]="['/auth', authLinkText === 'Anmelden' ? 'signin' : 'signup']"
        routerLinkActive="hideText">
        {{ authLinkText }}
      </a>
    }
  </div>

  @if (isAuthenticated){
    <div class="relative">
      <a routerLink="/cart">
        <img src="../../../assets/images/shpcrt.svg" alt="cart" />
        <span class="cart-badge" *ngIf="cartItemCount$ | async  as count">
        {{ count }}
      </span>
      </a>
    </div>
  }
</header>
