<main class="m-10">
  <div class="min-w-max">
    <h2 class="text-5xl font-extrabold">Warenkorb</h2>
    <hr class="largeHr" />
  </div>
  @if (cartItems.length > 0){
    @for (cartItem of cartItems; track cartItem.item.id){
      <div class="cart-item">
        <img [src]="cartItem.item.picture" [alt]="cartItem.item.name" class="cart-item-img" />
        <div class="cart-item-content">
          <h2 class="itemName">{{cartItem.item.name}}</h2>
          <div class="cart-item-info">
            <p>Preis: CHF {{Math.round(cartItem.item.price * cartItem.quantity).toFixed(2) }}</p>
            <div class="quantityContainer">
              <label for="quantit-{{cartItem.item.id}}">Anzahl:</label>
              <input type="number"
                     id="quantit-{{cartItem.item.id}}"
                     [(ngModel)]="cartItem.quantity"
                     (ngModelChange)="updateQuantity(cartItem.item.id, $event)"
                     min="1"
                     class="quantityInput"
              />
            </div>
            <img src="assets/bin.svg" alt="deleteBtn" class="remove-btn" (click)="removeItem(cartItem.item.id)" />
          </div>
        </div>
      </div>
      <hr class="smallHr" />
    }
    <button (click)="clearCart()" class="clear-cart-btn">Warenkorb leeren</button>
  } @else {
    <p>Ihr Warenkorb ist leer.</p>
  }
</main>
