<main>

  <div class="lg:w-1/3">
    <img [src]="item?.picture" [alt]="item?.name" class="itemImg" />
  </div>

  <div class="lg:w-1/3 flex flex-col gap-6">

    <div class="-space-y-4">
      <div>
        @if (item!.stock_num > 150){
          <p class="animate-ping">Noch {{item!.stock_num}} Stück vorhanden</p>
        } @else if (item!.stock_num < 150 && item!.stock_num > 1){
          <p class="blink_me">Nur noch {{item!.stock_num}} Stück!!!</p>
        } @else if (item!.stock_num === 1){
          <p>Schnell, das ist das letzte Stück!</p>
        } @else if (!item!.in_stock){
          <p>Ausverkauft ¯\_(ツ)_/¯</p>
        }
        <p id="itemPrice">{{item?.price}}</p>
        <p id="itemName">{{item?.name}}</p>
      </div>
    </div>

    <div>
      <button class="button">In den Warenkorb</button>
    </div>

  </div>

  <div class="mt-6">
    <p id="itemDescription">{{item!.description}}</p>
  </div>

</main>

