@import "../node_modules/bootstrap/dist/css/bootstrap-grid.min.css";
@import "@angular/material/prebuilt-themes/indigo-pink.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.dark-theme {
background-color: #121212;
color: #ffffff;
}

.itemPrice {
@apply text-red-500 font-bold leading-tight text-2xl;
}

.itemName {
@apply font-bold leading-tight text-4xl
}

.genericBtn{
  @apply bg-blue-600 text-white p-2 border-none cursor-pointer rounded-lg;
}
